
@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.App {
  color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}
